# Environnements virtuels
venv/
.venv/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers temporaires
*.log
*.tmp

# Notebooks checkpoints
.ipynb_checkpoints

# Configs locales
.env

# OS files
.DS_Store
Thumbs.db
