# Environnements virtuels
venv/
.venv/
build/

# Fichiers
dev.py
Launcher.spec
run_launcher.py
run_launcher.spec

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers temporaires
*.log
*.tmp

# Notebooks checkpoints
.ipynb_checkpoints

# Configs locales
.env

# OS files
.DS_Store
Thumbs.db
